*.o
*.so
*.lo
*.la

/kerberos/lib/
/libaes/lib/

installdir
Makefile
Makefile.in
config.h
*.h.in
*.h.in~
config.log
config.status
configure
libtool
.deps
.libs
*.pc
.dirstamp
aclocal.m4
stamp-h1
autom4te.cache
aux-dist